<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="28" style="background-color: azure;">
        <div>
            <app-logo></app-logo>
            <h3>Forgot Password</h3>
            <p>Please Enter your Email</p>
            <div *ngIf="isLoading">
                <app-spineer></app-spineer>
                <h1>Please Wait we are verify.......</h1>
            </div>
        </div>
        <form action="" fxLayout="column" fxLayoutAlign="start start" #forgetPassword=ngForm *ngIf="!isLoading" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="outline" fxLayout="column" style="width: 100%;">
                <mat-label>Enter your Email</mat-label>
                <input email required matInput type="email" placeholder="Email" [(ngModel)]="form.email" name="email">
                <mat-icon matSuffix>email</mat-icon>
                <mat-hint>Enter Email</mat-hint>
                <mat-error>Valid Email require</mat-error>
            </mat-form-field>
            <button mat-raised-button type="submit" fxFlexAlign="start" [routerLink]="[ '/login']">Login</button>
            <button mat-raised-button [disabled]="!forgetPassword.valid" type="submit" fxFlexAlign="end" color="primary">Send</button>
        </form>
    </mat-card>
</div>